@charset "utf-8";

*, *::before, *::after{
  box-sizing: border-box;
}

html{
  font-size: 15px;
}

body{
  margin: 0;
  font-weight: 200;
  /* background-color: #F8D848 */
  background-color: #c9d99e
}

ul{
  padding-left: 0;
}

li{
  list-style-type: none;
}

/* .clearfix{
  content: "";
  display: block;
  clear: both;
} */

.container{
  width: 1200px;
  margin: 0 auto;
  padding: 30px 80px;
  /* box-shadow: 0px 5px 10px #aaa; */
}

/* 헤더 */
.header{
  /* background-color: skyblue; */
  display: flex;
  margin-bottom: 50px;
}

.header-heading{
  margin: auto 0;
  padding: 0;
}

.input-github {
  width: 750px;
  height: 50px;
  opacity: 0.8;
  border-radius: 6px;
  border: solid 3px rgba(112, 112, 112, 0.31);
  margin: 0 auto;
  padding-left: 20px;
  font-size: inherit;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.input-github:focus{
  /* 추가하자 */
}

/* 커밋, 투두리스트 */
.commit-todolist{
  /* display: inline-block; */
  float: left;
  margin-top: 30px;
}

/* 커밋 카운트 */
.commit-count{
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-bottom: 50px;
}

.commit-count-heading{
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.count-container{
  width: 200px;
  height: 70px;
  border-top: 3px solid #313131;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  color: #313131;
  font-weight: 800;
}

.count-now{
  position: relative;
  right: 40px;
}

.count-text{
  text-align: left;
  margin-top: 20px;
}

.achieve::before{
  content: "/";
  display: inline-block;
  width: 3px;
  padding-right: 10px;
}

.count-number{
  font-size: 50px;
  text-align: right;
  margin-top: 20px
}

.count-week-number::before{
  content: "/";
  display: inline-block;
  width: 3px;
  padding-right: 30px;
}

/* 투두리스트 */
.todolist{
  width: 500px;
  margin-top: 50px;
  position: relative;
}

.todolist-heading{
  font-size: 30px;
  font-weight: 900;
  line-height: 1.2;
  text-align: left;
  color: #313131;
  margin: 0;
  padding: 10px 0;
}

.input-todo{
  width: 100%;
  height: 50px;
  opacity: 0.8;
  border-radius: 6px;
  border: solid 1px rgba(112, 112, 112, 0.31);
  margin: 0 auto;
  padding-left: 20px;
  font-size: inherit;
}

.todos{
  border-top: solid 3px #313131;
  border-bottom: solid 3px #313131;
}

.todo-item{
  height: 50px;
  padding: 10px 15px;
  margin-bottom: -1px;
  border-bottom: 1px solid #ddd;
  border-color: #313131;
  display: flex;
  align-items: center;
}

.remove-todo{
  background: none;
  border: 0;
  color: #313131;
}

/* 투두리스트-nav */
.todolist-nav {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.todolist-nav > li {
  padding: 4px 5px;
  margin: 0 2px;
  /* border-radius: 4px; */
  cursor: pointer;
}

.todolist-nav > li.active {
  border-bottom: 2px solid #313131;
}

/* 투두리스트-하단 */
.todolist-footer{
  display: flex;
  justify-content: space-between;
}
.complete-all{
  display: inline-block;
}

.clear-completed{
  display: inline-block;
}

/* 무민 */
.moomin-status{
  display: inline-block;
  width: 500px;
  margin-left: 40px;
}

.moomin-status-heading{
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.carrot-stick{
  font-size: 30px;
  font-style: normal;
  color: #313131;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.moomin-form{
  padding: 0;
}

/* 무민 임시 출력 */
.moomin-svg form {
  width: 320px;
  /* padding: 20px 25px; */
  margin: 20px auto;
  /* background: #f8d348; */
  display: flex;
  flex-direction: column;
  position: relative;
}
.moomin-svg svg {
  width: 100%;
  border-radius: 50%;
  background: #fff;
  margin-bottom: 40px;
  align-self: center;
  transform-style: preserve-3d;
}

@keyframes blink {
  0%, 100% {
    transform: scale(1,0.1)
  }
  5%, 95% {
    transform: scale(1,1)
  }
}

.vision .vision-left,.vision-right {
  position: absolute;
  width: 80px;
  height: 160px;
  transform: scale(0.8);
  display: none;
}

.vision-left {
  top: 64px;
  left: 106px;
}

.vision-right {
  top: 71px;
  left: 152px;
}

.eyes {
  top: 50px;
/*   transform: rotate(5deg); */
  height: 72px;
  width: 36px;
  position: absolute;
  animation: blink 3s infinite;
}

.sclera {
  position: relative;
  width: 36px;
  height: 72px;
  overflow: hidden;
  background: #fff;
  border-top-left-radius: 18px 36px;
  border-top-right-radius: 18px 36px;
  border-bottom-right-radius: 18px 36px;
  border-bottom-left-radius: 18px 36px;
  animation: blink 3s infinite;
}

.sclera:after {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  border: 3px solid #000;
  border-top-left-radius: 18px 36px;
  border-top-right-radius: 18px 36px;
  border-bottom-right-radius: 18px 36px;
  border-bottom-left-radius: 18px 36px;
  animation: blink 3s infinite;
}

.iris {
  position: absolute;
  transform: translate(-23px, -7px);
  width: 50px;
  height: 60px;
  border: 1px solid #000;
  border-radius: 70%;
  background-color: #000;
}

