@charset "utf-8";
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

*, *::before, *::after{
  box-sizing: border-box;
}

html{
  font-size: 15px;
}

body{
  margin: 0;
  font-weight: 200;
  background-color: rgb(235, 163, 63);
  position: relative;
  // background-image: url('/public/images/moominbg.jpg');
  background-position-y: -200px;
}

ul{
  padding-left: 0;
}

li{
  list-style-type: none;
}

.container{
  width: 1200px;
  margin: 3vh auto;
  padding: 30px 80px;
  background-color: rgba(241, 241, 241, 0.7);
}

/* 헤더 */
.header{
  display: flex;
}

.header-heading{
  margin: auto 0;
  padding: 0;
  color: #313131;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.input-github {
  width: 610px;
  height: 50px;
  opacity: 0.8;
  border-radius: 6px;
  border: solid 3px rgba(235, 163, 63, 0.8);
  margin: 0 auto;
  padding-left: 20px;
  font-size: inherit;
}

/* 커밋입력 팝업 */
.popup{
  width: 600px;
  height: 250px;
  background-color: #313131;
  opacity: 0.95;
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 3px 10px #000;
  padding: 35px;
  display: none;
}

.overlay{
  background-color: #313131;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 5;
  display: none;
}

.popup-daily-em{
  font-style: normal;
  font-size: 30px;
  display: inline-block;
  margin-top: 15px;
  color: #fff;
}

.popup-daily-p{
  color: #fff;
}

.popup-daily-commit{
  width: 300px;
  padding-left: 10px;
  height: 40px;
  font-size: inherit;
  border-radius: 5px;
  border: 1px solid #aaa;
  opacity: 0.95;
  margin-top: 20px;
}

.warning-text{
  color: yellow;
  font-size: 12px;
}

.btn-ok{
  border: 0;
  height: 40px;
  font-size: inherit;
  color: #fff;
  background: transparent;
  cursor: pointer;
  outline: 0;
}

.btn-close{
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  padding: 20px;
  outline: 0;
  cursor: pointer;
  font-size: inherit;
  color: #fff;
}

/* 커밋, 투두리스트 */
.commit-todolist{
  float: left;
  margin-top: 30px;
}

/* 커밋 카운트 */
.commit-count{
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-bottom: 50px;
}

.commit-count-heading{
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.count-container{
  width: 210px;
  height: 70px;
  border-top: 3px solid #313131;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  color: #313131;
  font-weight: 800;
}

.count-now{
  position: relative;
  right: 40px;
}

.count-text{
  text-align: left;
  margin-top: 20px;
}

.refresh >img{
  width: 30px;
  position: absolute;
  left: 0;
  top: 50px;
  cursor: pointer;
}

.achieve::before{
  content: "/";
  display: inline-block;
  width: 3px;
  padding-right: 10px;
}

.count-number{
  font-size: 50px;
  text-align: right;
  margin-top: 20px;
  color: #313131;
}

.count-goal-number::before{
  content: "/";
  display: inline-block;
  width: 3px;
  padding-right: 30px;
  color: #313131;
  font-weight: 600;
}

/* 투두리스트 */
.todolist{
  width: 500px;
  margin-top: 50px;
  position: relative;
}

.todolist-heading{
  font-size: 30px;
  font-weight: 900;
  line-height: 1.2;
  text-align: left;
  color: #313131;
  margin: 0;
  padding: 10px 0;
}

.input-todo{
  width: 100%;
  height: 50px;
  opacity: 0.8;
  border-radius: 6px;
  border: solid 1px rgba(235, 163, 63, 0.5);
  margin: 0 auto;
  padding-left: 20px;
  font-size: inherit;
}

.todos{
  position: relative;
  border-top: solid 3px #313131;
  border-bottom: solid 3px #313131;
  height: 250px;
  overflow-y: scroll;
}

// .todos::before{
//   content: "푸른 잔디를 위해 할 일을 입력해주세요.";
//   height: 250px;
// }

.todos::-webkit-scrollbar{
  background-color: transparent;
}

.todos > li > label{
  width: 400px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.todo-item{
  height: 50px;
  padding: 10px 15px;
  margin-bottom: -1px;
  border-bottom: 1px solid #ddd;
  border-color: #313131;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-todo{
  cursor: pointer;
}

.remove-todo:hover{
  color: red;
}

.scroll-icon{
  // display: none;
  // background-image: url('/public/images/arrow.png');
  // background-color: red;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
  animation: glow 4s infinite;
}

@keyframes glow {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
    transform: translateY(10px);
  }
}

input[type='checkbox']{
  margin-right: 5px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance:none;
  outline: none;
  box-shadow: none;
  // background: url('/public/images/uncheck.png') no-repeat;
}

input[type='checkbox']:checked{
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance:none;
  box-shadow: none;
  // background: url('/public/images/checked.png') no-repeat;
}

.btn{
  display: inline-block;
  opacity: 0.9;
  border: solid 1px rgba(112, 112, 112, 0.31);
  border-radius: 5px;
  height: 25px;
}

/* 투두리스트-nav */
.todolist-nav {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.todolist-nav > li {
  padding: 4px 5px;
  margin: 0 2px;
  /* border-radius: 4px; */
  cursor: pointer;
}

.todolist-nav > li.active {
  font-weight: 800;
  border-bottom: 2px solid #313131;
}

.empty-ment{
  width: 100%;
  margin-top: 120px;
  text-align: center;
}

/* 투두리스트-하단 */
.todolist-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.complete-all{
  display: inline-block;
}

.clear-completed{
  display: inline-block;
}

/* 무민 */
.moomin-status{
  display: inline-block;
  width: 500px;
  margin-left: 40px;
}

.moomin-status-heading{
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.carrot-stick{
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  color: #313131;
  display: block;
  text-align: center;
  margin-bottom: 30px;
  height: 30px;
}

.moomin-form{
  padding: 0;
}

.input-github-error::placeholder { color: #ff5454; }
.input-github-sucess::placeholder { color: black; }
.input-github-sucess {
  outline:none;
  color : transparent;
  text-shadow : 0 0 0 #000;
 }

/* 무민 임시 출력 */
.moomin-svg form {
  width: 320px;
  /* padding: 20px 25px; */
  margin: 20px auto;
  /* background: #f8d348; */
  display: flex;
  flex-direction: column;
  position: relative;
}
.moomin-svg svg {
  width: 100%;
  border-radius: 50%;
  background: #fff;
  margin-bottom: 40px;
  align-self: center;
  transform-style: preserve-3d;
  border: 3px solid rgba(235, 163, 63, 0.8);
}

@keyframes blink {
  0%, 100% {
    transform: scale(1,0.1)
  }
  5%, 95% {
    transform: scale(1,1)
  }
}

.normal-eye{
  display: block;
}

.normal-eye .normal-eye-left,.normal-eye-right {
  position: absolute;
  width: 80px;
  height: 160px;
  transform: scale(0.8);
}

.normal-eye-left {
  top: 64px;
  left: 106px;
}

.normal-eye-right {
  top: 71px;
  left: 152px;
}

.normal-eyes {
  top: 50px;
/*   transform: rotate(5deg); */
  height: 72px;
  width: 36px;
  position: absolute;
  animation: blink 3s infinite;
}

.normal-eye-sclera {
  position: relative;
  width: 36px;
  height: 72px;
  overflow: hidden;
  background: #fff;
  border-top-left-radius: 18px 36px;
  border-top-right-radius: 18px 36px;
  border-bottom-right-radius: 18px 36px;
  border-bottom-left-radius: 18px 36px;
  animation: blink 3s infinite;
}

.normal-eye-sclera:after {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  border: 3px solid #000;
  border-top-left-radius: 18px 36px;
  border-top-right-radius: 18px 36px;
  border-bottom-right-radius: 18px 36px;
  border-bottom-left-radius: 18px 36px;
  animation: blink 3s infinite;
}

.normal-eye-iris {
  position: absolute;
  transform: translate(-23px, -7px);
  width: 50px;
  height: 60px;
  border: 1px solid #000;
  border-radius: 70%;
  background-color: #000;
}

@keyframes eyeblow {
  0% {
    height: 20px;
    opacity: 0;
  }
  100% {
    height: 0px;
    opacity: 1;
  }
}

.angry-eye {
  transform: scale(0.6) translate(33px, 21px);
  animation: eyeblow 3s;
  display: none;
}

.angry-div {
  position: absolute;
  top: 137px;
  left: 106px;
  background: white;
  width: 99px;
  height: 35px;
  animation: eyeblow 2s both;
}

.angry-top{
  position: absolute;
  background: transparent;
  width: 30px;
  height: 30px;
  top: 56px;
  left: 40px;
  z-index: 9;
  border-radius: 100%;
  border-right: 5px solid rgb(181, 0, 0);
  transform: rotate(22deg);
}

.angry-top::before{
  content: "";
  position: absolute;
  background: transparent;
  width: 30px;
  height: 30px;
  top: -20px;
  left: 33px;
  z-index: 9;
  border-radius: 100%;
  border-bottom: 5px solid rgb(181, 0, 0);
  transform: rotate(22deg);
}

.angry-bottom{
  position:absolute;
  background:transparent;
  width:30px;
  height:30px;
  top:93px;
  left:46px;
  z-index:9;
  border-radius: 100%;
  border-top: 5px solid rgb(181, 0, 0);
  transform: rotate(50deg);
}

.angry-bottom::before{
  content:"";
  position:absolute;
  background:transparent;
  width:30px;
  height:40px;
  top:-45px;
  left:22px;
  z-index:9;
  border-radius: 100%;
  border-bottom: 5px solid rgb(181, 0, 0);
  transform: rotate(50deg);
}

.angry-mark{
  animation: stretch 4s infinite;
  position: absolute;
  display: none;
}

.angry-mark2{
  animation: stretch 3s infinite;
}

@keyframes stretch {
  0% {
    transform: rotate(-2deg);
      opacity: 0;
  }
  100% {
    transform: rotate(-2deg);
    opacity: 1;
  }
}

.angry-top2{
  position: absolute;
  background: transparent;
  width: 30px;
  height: 30px;
  top: 86px;
  left: 239px;
  z-index: 9;
  border-radius: 100%;
  border-right: 5px solid rgb(181, 0, 0);
  transform: rotate(65deg);
}

.angry-top2::before{
  content: "";
  position: absolute;
  background: transparent;
  width: 30px;
  height: 30px;
  top: -20px;
  left: 33px;
  z-index: 9;
  border-radius: 100%;
  border-bottom: 5px solid rgb(181, 0, 0);
  transform: rotate(22deg);
}

.angry-bottom2{
  position:absolute;
  background:transparent;
  width:30px;
  height:30px;
  top:117px;
  left:220px;
  z-index:9;
  border-radius: 100%;
  border-top: 5px solid rgb(181, 0, 0);
  transform: rotate(95deg);
}

.angry-bottom2::before{
  content:"";
  position:absolute;
  background:transparent;
  width:30px;
  height:40px;
  top:-45px;
  left:22px;
  z-index:9;
  border-radius: 100%;
  border-bottom: 5px solid rgb(181, 0, 0);
  transform: rotate(50deg);
}

@keyframes toHappy {
  0% {
      opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.happy-eye {
  transform: rotate(32deg) matrix(1, 0, 0, 1, -10, -21);
  display: none;
  animation : toHappy 4s forwards ;
}

.happy-hearts {
  display: none;
}

@keyframes heart-line0 {
  0% { opacity: 1; top:60%; }
  100% { opacity: 0; top: 5%; }
}

@keyframes heart-line1 {
  0% { opacity: 1; top:70%; }
  100% { opacity: 0; top: 0%; }
}

@keyframes heart-line2 {
  0% { opacity: 1; top:73%; }
  100% { opacity: 0; top: -10%; }
}

@keyframes heart-line3 {
  0% { opacity: 1; top:73%; }
  100% { opacity: 0; top: -10%; }
}

@keyframes heart-line4 {
  0% { opacity: 1; top:73%; }
  100% { opacity: 0; top: -10%; }
}

@keyframes heart-line5 {
  0% { opacity: 1; top:70%; }
  100% { opacity: 0; top: 0%; }
}
@keyframes heart-line6 {
  0% { opacity: 1; top:70%; }
  100% { opacity: 0; top: 0%; }
}
@keyframes heart-line7 {
  0% { opacity: 1; top:60%; }
  100% { opacity: 0; top: 0%; }
}

.happy-heart{
  position: absolute;
  width: 0;
  height: 0;
}
.happy-heart:before,
.happy-heart:after{
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #fc2e5a;
  border-radius: 50px 50px 0 0;
  transform: scale(0.3) rotate(-45deg);
  transform-origin: 0 100%;
}
.happy-heart:after{
  left: 0;
  transform: scale(0.3) rotate(45deg);
  transform-origin :100% 100%;
}

.happy-heart0{
  left: 0%;
  animation: heart-line0 5s infinite;
}

.happy-heart1{
  left: 10%;
  animation: heart-line1 3s infinite;
}

.happy-heart2{
  left: 20%;
  animation: heart-line2 6s infinite;
}

.happy-heart3{
  left: 30%;
  animation: heart-line3 4s infinite;
}
.happy-heart4{
  left: 40%;
  animation: heart-line4 3s infinite;
}
.happy-heart5{
  left: 50%;
  animation: heart-line5 5s infinite;
}
.happy-heart6{
  left: 60%;
  animation: heart-line6 4s infinite;
}
.happy-heart7{
  left: 70%;
  animation: heart-line7 5s infinite;
}

.main-heart {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 20%;
  top: 20%;
  transform: translate(-50%, -50%);
  background: url(https://user-images.githubusercontent.com/31315644/69028205-972aa700-0a14-11ea-9071-a84207417502.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
  animation: fave-heart 1s steps(28);
}
.main-heart:hover {
  background-position: -2800px 0;
  transition: background 1s steps(28);
}
@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}

.header-svg-wrapper {
  transform: translateX(-5px) translateY(-28px);
  width: 36%;
}

.header-svg-wrapper path {
  stroke: rgba(9, 105, 223, 0.8);
  fill: rgba(9, 105, 223, 0.8);
  stroke-dasharray: 1800;
  opacity: 10;
  stroke-width: 2;
  animation: animate 3s cubic-bezier(1,0.2,1,.1);
}

@keyframes animate {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1800;
  }

  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 1800;
  }

  90% {
    fill: rgba(9, 105, 223, 0);
  }

  100% {
    opacity: 10;
    fill: rgb(9, 105, 223);
    stroke-dashoffset: 0;
  }
}